.navbarShow {
  display: block;
}

.navbarHide {
  display: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px; /* Adjust size as needed */
  margin-right: 10px; /* Space between image and text */
}

.logo h3 {
  margin: 0;
  font-size: 24px; /* Adjust font size as needed */
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.show-menu {
  display: block;
}

.hamburger {
  display: none; /* Hide hamburger on larger screens */
}

/* Responsive design */
@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .show-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .logo h3 {
    margin: 0;
    font-size: 18px; /* Adjust font size as needed */
  }
  .logo img {
    height: 35px; /* Adjust size as needed */
    margin-right: 5px; /* Space between image and text */
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2px;
  }
}

.jobgenie-link {
  color: #ff6600;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.jobgenie-link:hover {
  color: #ff4500;
}

.jobgenie-link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #ff6600;
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.jobgenie-link:hover::after {
  width: 100%;
}